
body {
    background-color: #fafafa;
}

.profile-pic {
    width: 150px;
    height: 150px;
    object-fit: cover;
}


.post-item img {
    aspect-ratio: 1 / 1;
    object-fit: cover;
    width: 100%;
    transition: opacity 0.2s ease-in-out;
}


.post-item:hover img {
    opacity: 0.8;
    cursor: pointer;
}


.nav-tabs .nav-link {
    border: none !important;
    color: #8e8e8e;
}

.nav-tabs .nav-link.active {
    border-top: 1px solid #262626 !important;
    color: #262626 !important;
    font-weight: 600;
}